body {
    margin: 0;
    padding: 0;
    /* max-width: 90%; */
    /* height: 100vh; */
    box-sizing: border-box;
    background: linear-gradient(166deg, rgba(50, 50, 57, 1) 0%, rgba(34, 163, 118, 1) 44%, rgba(0, 212, 255, 1) 100%);
    /* background-color: rgb(164, 216, 105); */
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 70px;
    background-color: transparent;
    padding: 5px;
    /* margin-bottom: 20px; */
    /* line-height: 100px; */
}

.fa-arrow-left {
    position: absolute;
    top: 10%;
    left: 3%;
    font-size: 40px;
    cursor: pointer;
    z-index: 5;
}

.fa-arrow-left:hover {
    font-size: 50px;
}

h1 {
    text-align: center;
    z-index: 1;
    /* padding: 20px; */
}

.rock {
    margin: 5px;
    animation: rock .3s;
}

.paper {
    /* color: white; */
    margin: 5px;
    animation: paper .3s .1s;
}

.sciss {
    /* color: blue; */
    margin: 5px;
    animation: scissors .3s .2s;
}

@keyframes rock {
    0% {
        color: black;
    }

    10% {
        color: grey;
    }

    90% {
        color: grey;
    }

    100% {
        color: black;
    }
}

@keyframes paper {
    0% {
        color: black;
    }

    10% {
        color: white;
    }

    90% {
        color: white;
    }

    100% {
        color: black;
    }
}

@keyframes scissors {
    0% {
        color: black;
    }

    10% {
        color: blue;
    }

    90% {
        color: blue;
    }

    100% {
        color: black;
    }
}

h2 {
    text-align: center;
    margin: 15px;
    font-size: 20px;
}

.select {
    /* background-color: green; */
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.select img {
    width: 17%;
    cursor: pointer;
}

.hidden {
    position: relative;
    left: -100%;
    top: 0;
}

.hidden p {
    font-size: 24px;
    color: red;
    text-shadow: 0 0 3px white;
    padding: 2px;
    transition: .4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.active {
    display: block;
    left: 0;
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    width: 200px;
    font-size: 25px;
    padding: 7px;
    background-color: white;
    border: 5px double black;
    cursor: pointer;
}

button:hover {
    background-color: rgb(218, 218, 71);
    border: 5px double grey;
}

/* .panel {
    margin: 10px;
} */

.panel-left,
.panel-central,
.panel-right {
    float: left;
    width: 31%;
    /* height: 300px; */
    text-align: center;
    margin: 10px;
    padding: 4px;
    /* background-color: red; */

}

.panel-central {
    margin-top: 30px;
}

.panel-central input {
    font-size: 22px;
    margin: 10px
}

h3 {
    font-size: 20px;
    margin: 7px;
}

.panel-right span,
.panel-left span {
    font-weight: bold;

}

.panel-right p,
.panel-left p {
    margin: 7px;
}